/*!---Global Settings----*/
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:300,400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=latin-ext');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration:none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-color: #f1f1f156 !important;
}

:root {
    --spacing : .5px;
}

/*!--------Header--------!*/

#header-container {
    margin: 50px auto;
    display: flex;
}


.img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex: 1;
}

.img-container img {
    display: block;
    width: 100%;
}

.form-container {
    background-color: #fff;
    text-align: center; 
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.158);
    margin-left: 10px;
    padding:40px;
    flex: 1;
}

.form-container p,span,input {
    font-family: 'Roboto', sans-serif;
}

.form-container h1 {
    font-size: 50px;
    font-family: 'Lobster',sans-serif ;
    letter-spacing: var(--spacing);       
}

.form-container p {
    font-weight: 700;
    padding: 0 10px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.349);
}

.form-container #login-facebook {
    width: 100%;
}
.form-container #login-facebook i {
    font-size: 18px;   
}

span.h-line {
    display: inline-block;
    width:105px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.205);
    margin-bottom: 2%;
}

span.h-text {
    display: inline-block;
    padding: 0 10px
}

#form input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    background-color: rgba(219, 219, 219, 0.13);
    margin-bottom: 5px;
    outline: none;
    border: 1px solid rgba(219, 219, 219, 0.562);
}

#form #submit-btn {
    width: 100%;
    opacity: .4;
}

.form-container .accept-form {
    color: rgba(128, 128, 128, 0.61);
    font-size: 14px;
    padding: 0 30px;
    font-weight: 400;
}

.form-container .accept-form a{
    color: rgba(0, 0, 0, 0.521);
    text-decoration: none;
}

.form-container .accept-form a:hover{
    color: rgba(0, 0, 0, 0.479);
}

#sign-in {
    display:inline-block !important;
}

.already-have-account span,a {
    font-size: 14px;
    margin-right: 3px;
}

/*End of Header*/

/*!-------Footer-------!*/

#footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#footer ul {
    display: flex;
}

#footer li {
    margin-right: 12px;
}

#footer a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    color: #073569;
}

#footer div .copyright {
    font-size: 12px;
    font-weight: 700;
}

/*End of Footer*/

/*!-------Media queries-------!*/


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #header-container {
        width: 75%;
    }
    
    .img-container {
        display: none;
    }
    span.h-line {
        width: 40px;
    }
    #footer-container {
        width: 75%;
        flex-direction: column;
        text-align:center;
    }
   
    #footer ul { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    } 
 
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #header-container {
        width: 60%;
    }
        
    #footer-container {
        width: 50%;
        flex-direction: column;
        text-align:center;
    }
   
    .img-container {
        display: none;
    }

    span.h-line {
        width: 80px;
    }
   
    #footer ul { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    } 
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    span.h-line {
        width: 100px;
    }

    .img-container {
        flex: 1;
    }

    .form-container {
        flex: 1;
    }

    #footer-container {
        width: 60%;
        flex-direction: column;
        text-align:center;
    }

    #footer ul { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    } 

    #footer-container ul li {
        margin-right: 5px;
    }

    #footer-container ul li a {
        font-size: 10px;
    }


 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    #footer-container {
        display: flex;
        justify-content: space-evenly;

    }
 }
